<div class="center-col">
    <button class="back button" (click)="goBack()">Back</button>
    <h2>{{category?category.title:"loading"}}</h2>
    <div *ngIf="!question">loading...</div>
    <div 
    *ngIf="question"
    class="center-col"
    >
        <h1 
        class="title"
        [innerHTML]="question.question"
        ></h1>
        <div 
        *ngFor="let index of questionOrder"
        >
            <button
            class="button" 
            *ngIf="index === 0" 
            [ngClass]="correctAnswerRevealed?'correct-revealed':''"
            (click)="correctAnswerRevealed ? '' : guessCorrect()"
            [innerHtml]="question.correct_answer"
            >
            </button>
            <button 
            class="button"
            *ngIf="index !== 0" (click)="correctAnswerRevealed ? '' : guessIncorrect()"
            [innerHtml]="question.incorrect_answers[index-1]"
            >
            </button>
        </div>

        <button *ngIf="!question.allQuestionsViewed"
        class="bottom button"
        [ngClass]="correctAnswerRevealed?'next button':'back button'"
        (click)="nextQuestion()"
        >
        {{correctAnswerRevealed?"Next Question":"Skip Question"}}
        </button>
    </div>
</div>