.correct-revealed{
    background-color: var(--correct-color);
}
.incorrect-revealed{
    background-color: var(--incorrect-color);
}

.bottom.button{
    margin-top: 15px;
}

.title{
    max-width: 50%;
    text-align: center;
}
.title-img{
    height: 300px;
}